<div>
    <header>
        <h1>Cars</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-md">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" [class.active]="is_home()">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="chatbot" routerLinkActive="active">Chat</a>
                    </li>
                </ul>    
                <div class="login-wrap">
                    <ng-container *ngIf="!userToken">
                        <a routerLink="login" class="d-inline-block mx-1">Login</a>|<a routerLink="register" class="d-inline-block mx-1">Register</a>
                    </ng-container>
                    <ng-container *ngIf="userToken">
                        <span class="d-inline-block mx-1">Hello,{{uName}}</span>|<span role="button" (click)="logout()" class="d-inline-block mx-1">Logout</span>
                    </ng-container>
                </div>            
            </div>
        </div>
    </nav>
</div>
<div class="container-md">
    <main>
        <router-outlet></router-outlet>
    </main>
</div>