/* You can add global styles to this file, and also import other style files */
body{
	background-image: url("https://i.imgur.com/KV7rJR8.png"); 
}
h1{
	text-align: center;
}

nav, 
nav a {
	text-align: center;
	font-size: 1.03em;
	color: black;
	text-decoration: none;
	word-spacing: 50px;
	font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}
